.sidebar,.modal-header {
	background: #263238;
}
.card-header {
	background: #e3e5ea;
}
.sidebar .nav .nav-item .nav-link.active {
	background: #000000 !important;
}
.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
	background: #555555 !important;
}
.sidebar .nav .nav-item.nav-dropdown.open ul.nav-dropdown-items li.nav-item a.nav-link{
	background: #4a5154 !important;
}
.sidebar .nav .divider {
    border-bottom: 1px solid #111111;
}
.header-fixed .app-header {
	background:  #ffffff;
}
header.navbar {
	border-bottom: 1px solid #efefef;
}
.header-fixed .app-header {
    background: #262E35;
}
.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle,.navbar-nav .nav-link:focus, .navbar-nav .navbar .dropdown-toggle:focus, .navbar .navbar-nav .dropdown-toggle:focus, .navbar-nav .nav-link:hover, .navbar-nav .navbar .dropdown-toggle:hover, .navbar .navbar-nav .dropdown-toggle:hover, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #a6b0cf;
}
.sidebar, .modal-header {
    background: #303841;
}
body {
    color: #a6b0cf;
    background-color: #303841;
}
.card {
    background-color: #36404A;
}
.card-header, .navbar-nav .open .dropdown-menu {
    background: #262E35 !important;
}
header.navbar {
    border-bottom: 1px solid #262E35;
}
.tab-content, .dropdown-item, .thumbnail {
    background: #36404A;
    border: 1px solid #26303A;
}
.nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle , .dropdown-menu{
    color: #a6b0cf;
    background: #36404A;
    border-color: #26303A;
}
.btn-default {
    color: #a6b0cf;
    background-color: #36404A;
	border-color: #111;
}
.open > .dropdown-toggle.btn-default:hover {
    color: #999;
    background-color: #26303A;
    border-color: #8c8c8c;
}
.list-group-item {
    background-color: #303841;
    border: 1px solid #26303A;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #303841;
}
table.dataTable tbody tr {
    background-color: #262E35;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #333;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #999 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button, .dropdown-item:focus, .dropdown-item:hover {
    color: #aaa !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #bbb !important;
    border: 1px solid #555;
    background: linear-gradient(to bottom, #000 0%, #303841 100%);
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #1e2c3d;
}
.dataTables_wrapper .dataTables_filter input, select {
    margin-left: 0.5em;
    background-color: #303841;
    border-color: #26303A;
}
.log_tag_box {
    background: #1e2c3d;
    border: 1px solid #000;
}
.mentiony-container {
    border: 1px solid #26303A;
}
.mentiony-container .mentiony-popover {    
    border: 1px solid #26303A;
    background: #303841;
}
.mentiony-item {
    border-top: 1px solid #26303A;
}
.mentiony-item:hover{ background:#262E35;}
.form-control {
	color: #a6b0cf;
    background-color: #36404A;
    border: 1px solid #262E35;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #26303A;
}
.card-header .card-actions a, .card-header .card-actions button {
    color: #999;
	border-left: 1px solid #111;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #26303A;
    border: 1px solid #222222;
    border-bottom-color: transparent;
}
select.form-control {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #36404A 0%, #37414B 100%);
}
.switch.switch-icon .switch-label, .list-group-item-action:focus, .list-group-item-action:hover, .dropdown-item:focus, .dropdown-item:hover {
    background-color: #262E35;
    border: 1px solid #111;
}
.switch.switch-icon .switch-handle {
    background: #303841;
    border: 1px solid #262E35;
}
.input-group-addon {
    color: #999;
    background-color: #303841;
    border: 1px solid #262E35;
}
.card-tag {
    background: #36404A;
    border-top: 1px solid #26303A;
}
.card-footer {
    background: #262E35;
    border-top: 1px solid #000;
}
.app-footer {
    color: #bbb;
    background: #262E35;
    border-top: 1px solid #262E35;
}
.btn {
    box-shadow: 1px 1px 2px #333;
}
.aside-menu {
    color: #a6b0cf;
    background: #303841;
    border-left: 1px solid #26303A !important;
}
.aside-menu .tab-content {
    border-top: 1px solid #262E35;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.active:focus, .navbar-nav .nav-link.active:hover{ color: #eee !important;}
.sidebar .nav .nav-item .nav-link.active {
    background: #393E45 !important;
}
.sidebar .nav .nav-item.nav-dropdown.open ul.nav-dropdown-items li.nav-item a.nav-link {
    background: #303841 !important;
}
.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
    background: #262E35 !important;
}
.table-bordered {
    border: 1px solid #26303A;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #26303A;
}
.table > thead > tr > th {
    border-bottom: 2px solid #262E35;
}
hr {
    border-top: 1px solid #26303A;
}
.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover, .sidebar .nav .nav-item .nav-link i, .sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .navbar .dropdown-toggle, .navbar .sidebar .nav .nav-item .dropdown-toggle, .dropdown-item {
    color: #a6b0cf !important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #a6b0cf;
    background-color: #26303A;
}
element {
}
.fa.pull-right {
    margin-left: .3em;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.filtercheckbox {
    border-bottom: 1px solid #262E35;
}
.filterheading {
    background-color: #36404A;
    border: 1px solid #262E35;
}
.filtercontroller {
    background: #303841;
}
.modal-content {
    background-color: #36404A;
    border: 1px solid #262E35;
}
.modal-header {
    border-bottom: 1px solid #262E35;
}
.modal-footer {
    border-top: 1px solid #262E35;
}
.card-header {
  border-bottom: 1px solid #111;
}