.sidebar{
	background: #00695c;
}
.sidebar .nav .nav-item .nav-link.active {
	background: #008080  !important;
}
.sidebar .nav .nav-item .nav-link:hover, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover {
	background: #004d40 !important;
}
.sidebar .nav .nav-item.nav-dropdown.open ul.nav-dropdown-items li.nav-item a.nav-link{
	background: #00796b !important;
}
.sidebar .nav .divider {
    border-bottom: 1px solid #004d40;
}
/*
.header-fixed .app-header, .card-header {
	background: #80cbc4 ;
}*/
header.navbar {
	border-bottom: 1px solid #a3e4d7;
}