@font-face {
	font-family: "Railway-Regular";
	src: url("../fonts/Raleway-Regular.eot");
	src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#Railway-Regular-Bold") format("svg");
}
body, ul.navbar-nav li a{ font-family:Railway-Regular !important; color:#868787;}